<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.burhan.gpstracker">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/map_location"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDYC0uOIHKJo2mnU3MUf_wQsOgc5dpiFJI" />

        <provider
            android:name=".database.ContentProvider"
            android:authorities="com.example.burhan.gpstracker.database"
            android:exported="true"
            android:enabled="true"
            android:grantUriPermissions="true">

        </provider>

        <receiver android:name=".LocationWidgetProvider">
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            <action android:name="com.sam_chordas.android.stockhawk.ACTION_DATA_UPDATED"/>
        </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stock_widget_info" />
        </receiver>

        <service android:name=".DetailWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".History">

        </activity>
    </application>

</manifest>